/* Basic reset for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Hero section */
#hero {
  background-color: goldenrod;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero-title {
  font-size: 500%;
}

#hero-subtitle {
  font-size: 200%;
  margin-bottom: 15px;
}

#hero-cta {
  font-size: larger;
  border: 300px;
  text-decoration: none;
  color: gold;
  background-color: black;
  padding: 5px;
  transition: 0.3s ease;
}
#hero-cta:hover{
  background-color: darkred;
}

/* About me section */
#aboutme {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: black;
  color: white;
}

.aboutme-content {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  max-width: 50%;
  font-size: 150%;
}

.aboutme-bullets {
  margin-left: auto;
  margin-top: 50px;
  margin-right: 400px;
  margin-bottom: 50px;
  font-size: 150%;
  justify-items: right;
}